<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a routerLink="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>Idéal Academy</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="/" class="nav-item nav-link active">Accueil</a>
                <a routerLink="/about" class="nav-item nav-link">À Propos</a>
                <a routerLink="/course" class="nav-item nav-link">Formations</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a routerLink="/detail" class="dropdown-item">Détails des Formations</a>
                        <a routerLink="/feature" class="dropdown-item">Nos Avantages</a>
                        <a routerLink="/team" class="dropdown-item">Formateurs</a>
                        <a routerLink="/testimonial" class="dropdown-item">Témoignages</a>
                    </div>
                </div>
                <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="btn btn-primary py-2 px-4 d-none d-lg-block">Rejoignez-nous</a>
            <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="btn btn-primary py-2 px-4 d-none d-lg-block">Se Déconnecter</a>
        </div>
    </nav>
</div>