<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Idéal Academy - Centre de Formation Privée</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Formation professionnelle, Idéal Academy" name="keywords">
    <meta content="Centre de formation privée agréé par l'État, proposant des formations en pâtisserie, couture, cosmétique, parfumerie, maintenance et langues." name="description">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+216 58 837 712</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>contact@idealacademy.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
<app-navbar></app-navbar>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Formez-vous avec Idéal Academy</h1>
            <h1 class="text-white display-1 mb-5">Formations Professionnelles</h1>
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Formations</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Pâtisserie et Cuisine</a>
                            <a class="dropdown-item" href="#">Couture et Modélisme</a>
                            <a class="dropdown-item" href="#">Langues</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Rechercher">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="assets/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">À Propos de Nous</h6>
                        <h1 class="display-4">Votre Centre de Formation Privée Agréé</h1>
                    </div>
                    <p>Idéal Academy est un centre de formation privée agréé par l'État sous le numéro 8114619. Nous proposons une large gamme de formations professionnelles pour répondre à vos besoins, allant de la pâtisserie à la maintenance GSM, en passant par l’apprentissage des langues. Nos programmes sont conçus pour vous offrir des compétences pratiques et recherchées sur le marché du travail.</p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">10</h1>
                                <h6 class="text-uppercase text-white">Formations<span class="d-block">Disponibles</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">500</h1>
                                <h6 class="text-uppercase text-white">Étudiants<span class="d-block">Formés</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">20</h1>
                                <h6 class="text-uppercase text-white">Formateurs<span class="d-block">Qualifiés</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">95</h1>
                                <h6 class="text-uppercase text-white">Taux de<span class="d-block">Satisfaction</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Pourquoi Nous Choisir ?</h6>
                        <h1 class="display-4">Pourquoi Commencer Votre Formation avec Nous ?</h1>
                    </div>
                    <p class="mb-4 pb-2">Nous offrons des formations pratiques et adaptées aux besoins du marché, dispensées par des formateurs qualifiés. Que vous souhaitiez apprendre un métier ou perfectionner vos compétences linguistiques, Idéal Academy est votre partenaire de confiance.</p>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Formateurs Qualifiés</h4>
                            <p>Nos formateurs sont des experts dans leurs domaines, prêts à vous accompagner dans votre apprentissage.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Certifications Reconnues</h4>
                            <p>Obtenez des certificats reconnus pour booster votre carrière professionnelle.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-book-reader text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Formations Pratiques</h4>
                            <p class="m-0">Nos cours sont conçus pour vous offrir des compétences directement applicables.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="assets/img/feature.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Nos Formations</h6>
                    <h1 class="display-4">Découvrez Nos Formations Professionnelles</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel courses-carousel">
            <div class="courses-item position-relative">
                <img class="img-fluid" src="assets/img/courses-1.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Pâtisserie et Cuisine</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Formateur Expert</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.8 <small>(150)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Détails de la Formation</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="assets/img/courses-2.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Couture et Modélisme</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Formateur Expert</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.7 <small>(120)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Détails de la Formation</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="assets/img/courses-3.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Formation de Parfum</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Formateur Expert</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.9 <small>(80)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Détails de la Formation</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="assets/img/courses-4.jpg" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Langues : Allemand, Français, Anglais</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>Formateur Expert</span>
                            <span class="text-white"><i class="fa fa-star mr-2"></i>4.6 <small>(200)</small></span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="detail.html">Détails de la Formation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">Réduction de 20% pour les Nouveaux Inscrits</h1>
                    <form>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Votre Nom" style="padding: 30px 20px;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Votre Email" style="padding: 30px 20px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                        <option selected>Choisir une Formation</option>
                                        <option value="1">Pâtisserie et Cuisine</option>
                                        <option value="2">Couture et Modélisme</option>
                                        <option value="3">Langues</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">S'inscrire Maintenant</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Formateurs</h6>
                <h1 class="display-4">Rencontrez Nos Formateurs</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="assets/img/team-1.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Nom du Formateur</h5>
                        <p class="mb-2">Pâtisserie et Cuisine</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="assets/img/team-2.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Nom du Formateur</h5>
                        <p class="mb-2">Couture et Modélisme</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="assets/img/team-3.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Nom du Formateur</h5>
                        <p class="mb-2">Formation de Parfum</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="assets/img/team-4.jpg" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Nom du Formateur</h5>
                        <p class="mb-2">Langues</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="container-fluid bg-image py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Témoignages</h6>
                        <h1 class="display-4">Ce que Disent Nos Étudiants</h1>
                    </div>
                    <p class="m-0">Nos étudiants partagent leurs expériences et leur satisfaction après avoir suivi nos formations. Découvrez comment Idéal Academy a transformé leur parcours professionnel.</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>La formation en pâtisserie m’a permis de lancer ma propre entreprise. Les formateurs sont très compétents et l’ambiance est motivante !</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="assets/img/testimonial-2.jpg" alt="">
                                <div>
                                    <h5>Nom de l'Étudiant</h5>
                                    <span>Pâtisserie</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>J’ai appris l’anglais et l’allemand avec Idéal Academy. Les cours sont interactifs et très bien structurés.</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="assets/img/testimonial-1.jpg" alt="">
                                <div>
                                    <h5>Nom de l'Étudiant</h5>
                                    <span>Langues</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

<!-- src/app/home/home.component.html (review section only) -->
<div class="container-fluid py-5">
    <div class="container py-5">
      <div class="section-title text-center position-relative mb-5">
        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Avis des Clients</h6>
        <h1 class="display-4">Ce que Nos Apprenants Pensent de Nous</h1>
      </div>
  
      <!-- Review Form for Logged-in Apprenants -->
      <div *ngIf="isLoggedIn && isApprenant" class="row justify-content-center mb-5">
        <div class="col-lg-6">
          <div class="card shadow p-4 animate__animated animate__fadeIn">
            <h3 class="text-center mb-4">Laissez Votre Avis</h3>
            <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
              <div class="form-group">
                <label for="rating">Note</label>
                <div class="star-rating-input mb-3">
                  <i *ngFor="let star of [1, 2, 3, 4, 5]"
                     class="fa fa-star fa-2x"
                     [ngClass]="{'text-warning': star <= selectedRating, 'text-muted': star > selectedRating}"
                     (click)="selectRating(star)"
                     style="cursor: pointer;"></i>
                </div>
                <small *ngIf="reviewForm.get('rating')?.invalid && reviewForm.get('rating')?.touched" class="text-danger">
                  Veuillez sélectionner une note.
                </small>
              </div>
              <div class="form-group">
                <label for="comment">Commentaire</label>
                <textarea id="comment" formControlName="comment" class="form-control modern-textarea" rows="5" placeholder="Votre commentaire..."></textarea>
                <small *ngIf="reviewForm.get('comment')?.invalid && reviewForm.get('comment')?.touched" class="text-danger">
                  Le commentaire doit contenir entre 10 et 500 caractères.
                </small>
              </div>
              <button type="submit" class="btn btn-primary btn-block modern-btn" [disabled]="reviewForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Soumission...' : 'Soumettre l\'Avis' }}
              </button>
            </form>
          </div>
        </div>
      </div>
  
      <!-- Reviews List -->
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div *ngFor="let review of reviews" class="col-lg-4 col-md-6 mb-4">
              <div class="card review-item shadow h-100 animate__animated animate__fadeInUp">
                <div class="card-body p-4">
                  <div class="d-flex align-items-center mb-4">
                    <img [src]="review.user.photo ? 'http://localhost:5000/uploads/' + review.user.photo : 'assets/img/default-user.jpg'"
                         class="rounded-circle mr-4"
                         style="width: 60px; height: 60px; object-fit: cover;"
                         alt="User Photo">
                    <div>
                      <h5 class="mb-0">{{ review.user.firstName }} {{ review.user.lastName }}</h5>
                      <div class="star-rating">
                        <i *ngFor="let star of [1, 2, 3, 4, 5]"
                           class="fa fa-star"
                           [ngClass]="{'text-warning': star <= review.rating, 'text-muted': star > review.rating}"></i>
                      </div>
                    </div>
                  </div>
                  <p class="card-text">{{ review.comment }}</p>
                  <small class="text-muted">{{ review.createdAt | date:'medium' }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Notre Adresse</h4>
                                <p class="m-0">Tunis, Tunisie</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Appelez-nous</h4>
                                <p class="m-0">+216 58 837 712</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Contactez-nous par Email</h4>
                                <p class="m-0">contact@idealacademy.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Besoin d'Aide ?</h6>
                        <h1 class="display-4">Envoyez-nous un Message</h1>
                    </div>
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Votre Nom" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Votre Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Sujet" required="required">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Envoyer le Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Idéal Academy</h1>
                    </a>
                    <p class="m-0">Centre de formation privée agréé par l'État sous le numéro 8114619. Nous offrons des formations professionnelles dans divers domaines pour vous aider à atteindre vos objectifs de carrière.</p>
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Newsletter</h3>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Votre Adresse Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary px-4">S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Contactez-nous</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Tunis, Tunisie</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+216 58 837 712</p>
                    <p><i class="fa fa-envelope mr-2"></i>contact@idealacademy.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Nos Formations</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pâtisserie et Cuisine</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Couture et Modélisme</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Formation de Parfum</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Maintenance GSM</a>
                        <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Langues</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Liens Rapides</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Politique de Confidentialité</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Conditions Générales</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>FAQ</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Aide et Support</a>
                        <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Copyright © <a class="text-white" href="#">Idéal Academy</a>. Tous droits réservés.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0">Conçu par <a class="text-white" href="https://htmlcodex.com">HTML Codex</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
</body>

</html>